<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <title>Login</title>
</head>
<body>

<form action="">

    <div class="group"><input type="text" placeholder="Email" /></div>
    <div class="group"><input type="text" placeholder="Пароль" /></div>
    <div><button type="submit">Вход</button></div>

</form>

<body>
