{% extends "header.html" %}

{% block title %}
<title>Auth</title>
{% endblock %}

{% block styles %}
<link href="{{ url_for('static', path='/css/registration.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="registration-container">
    <div class="registration-form">
        <input type="text" placeholder="Введите Ваши ФИО *">
        <input type="text" placeholder="Введите Ваш e-mail *">
        <input type="text" placeholder="Введите Ваш телефон *">
        <input type="text" placeholder="Введите Ваш пароль *">
        <div id="registration-go">Отправить данные</div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', path='/js/registration.js') }}"></script>
{% endblock %}