<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Registration</title>
</head>
<body>
    <div class="registerForm">
        <form>
            <div class="group">
                <input type="text" required>
                <span class="bar"></span>
                <label>Имя</label>
            </div>
            <div class="group">
                <input type="text" required>
                <span class="bar"></span>
                <label>Email</label>
            </div>
            <div class="group">
                <input type="text" required>
                <span class="bar"></span>
                <label>Телефон</label>
            </div>
        </form>
    </div>
    <div>
        <button class="floating-button-settings reg-pos">Сохранить</button>
    </div>
</body>
</html>