<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Write message</title>
</head>
<body>
    <form class="write-address">
        <div class="group">
            <input type="text" required>
            <span class="bar"></span>
            <label>Получатель</label>
        </div>
    </form>
    <form>
        <div class="group write-topic">
            <input type="text" required>
            <span class="bar"></span>
            <label>Тема</label>
        </div>
    </form>
    <div class="group placeholder-f-pos">
        <textarea class="placeholder-f"></textarea>
        <span class="bar"></span>
        <label>Сообщение</label>
    </div>
    <button class="floating-button-reg reg-pos">Отправить сообщение</button>
    <div class="menu">
        <div class="my-message"><a href="" class="menu-button"><span class="link-content">Мои сообщения</span></a></div>
        <div class="write"><a href="" class="menu-button"><span class="link-content">Написать сообщение</span></a></div>
        <div class="settings"><a href="" class="menu-button"><span class="link-content">Настройки</span></a></div>
        <div class="exit"><button class="floating-button-exit">Выйти</button></div>
    </div>
</body>
</html>